name: CI WebApp Atelier

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check index.html
        run: test -f index.html

      - name: Build artifact
        run: |
          mkdir build
          cp -r index.html css js build/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: atelier-webapp
          path: build/
